{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trancervatory</title>


    <!-- Library CSS -->
    <link href="{% static 'Home/css/harmony_library.css' %}" rel="stylesheet">
    <link href="{% static 'Home/css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

    <!-- Icons CSS -->
    <link href="{% static 'Home/fonts/themify-icons.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'Home/css/harmony_style.css' %}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,900' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">

    <meta property="og:url" content="http://www.trancervatory.com"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Trancervatory 2016"/>
    <meta property="og:description"
          content="El mejor evento de música electrónica en Guayaquil. Pre-Venta del 5 al 18 de Septiembre."/>
    <meta property="og:image" content="http://trancervatory.com/static/Home/images/email/trancervatory-bg.jpg"/>

    <!-- Favicon Trancervatory -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/Home/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/Home/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/Home/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/Home/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/Home/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/Home/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/Home/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/Home/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/Home/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/Home/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/Home/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/Home/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/Home/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/Home/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/Home/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- End Favicon Trancervatory -->
</head>
<body class="har_middle_titles">
<div class="har_page" id="har_page">

    <!-- To Top -->
    <a href="#har_page" class="har_top ti ti-arrow-up har_go"></a>

    <!-- Content -->
    <section id="har_content" class="har_content">


        <!-- section -->
        <section class="har_section har_image_bck" id="artist">
            <div class="container text-center" style="padding-top: 60px">
                <img src="{% static 'Home/images/logo-black.png' %}">
                <h1>Preguntas Frecuentes</h1>
                <div class="wow fadeInUp" data-wow-delay=".3s"
                     style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h3 style="text-align: left;">
                        1. ¿Cuáles son los Métodos de Pago?
                    </h3>
                    <p style="text-align: justify">
                        Transferencia Bancaria o Depósito Bancario (Banco Bolivariano)
                    </p>
                    <h3 style="text-align: left;">
                        2. ¿Dónde retiro las entradas?
                    </h3>
                    <p style="text-align: justify">
                        Las entradas serán enviadas directamente a tu correo registrado en trancervatory.com.
                        Puedes presentar las entradas impresas o directamente en tu celular.
                        *El día del evento en la boletería, al momento de presentar tu ticket, se realizará el canje por
                        una entrada o pulsera oficial que permitirá su acceso.
                    </p>
                    <h3 style="text-align: left;">
                        3. ¿En qué tiempo me envían las entradas?
                    </h3>
                    <p style="text-align: justify">
                        Cuando se hace transferencia o depósito los tickets serán enviados cuando el sistema detecte la
                        transferencia interbancaria o el depósito en efectivo.
                        Transferencias interbancarias demoran hasta 72 horas laborables en acreditarse a nuestra cuenta
                        del Banco Bolivariano. Depósitos directos en nuestra cuenta la acreditación es inmediata, sin
                        embargo no se enviarán los tickets hasta que el usuario envíe un scan o foto del mismo.
                        El usuario debe enviar o re-enviar el correo electrónico de confirmación del banco de que se
                        realizo la transferencia exitosamente, o el scan o foto del depósito en ventanilla, mencionando
                        el nombre de la persona que compró y el número de pedido a nuestro correo
                        ventas@trancervatory.com
                        No enviaremos el ticket hasta que el usuario nos envíe el correo con sus datos de
                        transferencia/depósito y el importe completo este en nuestra cuenta.
                    </p>
                    <h3 style="text-align: left;">
                        4. ¿Cuándo anuncian el Line-Up completo?
                    </h3>
                    <p style="text-align: justify">
                        En el mes de septiembre, por favor atentos a nuestras redes sociales.

                    </p>
                    <h3 style="text-align: left;">
                        5. ¿Puedo comprar entradas el mismo día del evento?
                    </h3>
                    <p style="text-align: justify">
                        Si, pero te recomendamos comprar con anticipación para aprovechar el precio reducido y poder
                        tener acceso, ya que los tickets podrían agotarse, en ese caso, el día del evento no podrás
                        adquirir entradas.

                    </p>
                    <h3 style="text-align: left;">
                        6. Tengo dudas acerca del evento o mi ticket, ¿a quién debo contactar?
                    </h3>
                    <p style="text-align: justify">
                        Si tienes alguna pregunta por favor escribenos a ventas@trancervatory.com o contactate con
                        nosotros via facebook a www.facebook.com/trancefamilyec

                    </p>
                    <h3 style="text-align: left;">
                        7. Trance Latinoamérica promueve este evento, ¿habrá Trancervatory en mi país?
                    </h3>
                    <p style="text-align: justify">
                        Es posible ;)
                    </p>
                </div>
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->

        <!-- section -->
        <section class="har_section har_image_bck" id="event">
            <div class="container-fluid text-center" style="background: black;color: #ececec;">

                <h2>El Evento</h2>
                <h3 style="text-align: justify; padding-left: 20px; padding-right: 20px;">
                    El meeting se realiza desde el 2013, pero no fue hasta el 2015 en el que se realizó el primer
                    Trancervatory en la ciudad de Guayaquil y en la
                    comuna Montañita. En el 2015 tuvimos el apoyo del label Abora
                    Recordings, y como Headliner tuvimos a uno
                    de los grandes exponentes del Uplifting Trance, <strong>Ori Uplift</strong>.</h3>
                <h3 style="text-align: justify; padding-left: 20px; padding-right: 20px;">
                    Este 2016, Trancervatory regresa en Noviembre, y vuelve con más talentos internacionales y una
                    producción que nos hace seguir creciendo año
                    a año!
                </h3>
                <!-- grid -->
                <div id="gallery" class="har_portfolio grid">

                    <!-- item -->
                    <div class="col-sm-4 har_portfolio_item grid-item event">
                        <div class="har_portfolio_item_cont">
                            <img src="{% static 'Home/images/gallery/1.jpg' %}" alt="">
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-sm-4 har_portfolio_item grid-item event">
                        <div class="har_portfolio_item_cont">
                            <img src="{% static 'Home/images/gallery/2.jpg' %}" alt="">
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-sm-4 har_portfolio_item grid-item mediam musician">
                        <div class="har_portfolio_item_cont">
                            <img src="{% static 'Home/images/gallery/3.jpg' %}" alt="">
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-sm-4 har_portfolio_item grid-item event mediam">
                        <div class="har_portfolio_item_cont">
                            <img src="{% static 'Home/images/gallery/4.jpg' %}" alt="">
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-sm-4 har_portfolio_item grid-item event musician mediam">
                        <div class="har_portfolio_item_cont">
                            <img src="{% static 'Home/images/gallery/5.jpg' %}" alt="">
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-sm-4 har_portfolio_item grid-item event musician">
                        <div class="har_portfolio_item_cont">
                            <img src="{% static 'Home/images/gallery/6.jpg' %}" alt="">
                        </div>
                    </div>


                </div>
                <!-- grid end -->

            </div>
            <!-- container end -->

        </section>
        <!-- section end -->

    </section>
    <!-- main section end -->


    <!-- Footer -->
    <footer class="har_image_bck text-center har_wht_txt" data-color="#000">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Copyrights -->
                    <h2>Auspicia</h2>
                    <div class="row" style="margin-bottom: 40px">
                        <div class="col-lg-4">
                            <img style="height: 130px" src="{% static 'Home/images/sponsors/musicfirst.png' %}">
                        </div>
                        <div class="col-lg-4">
                            <img style="height: 130px" src="{% static 'Home/images/sponsors/tfec.png' %}">
                        </div>
                        <div class="col-lg-4">
                            <img style="height: 150px" src="{% static 'Home/images/sponsors/stadiumartists.png' %}">
                        </div>
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4">
                            <img style="height: 130px" src="{% static 'Home/images/sponsors/trancelatam.png' %}">
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <div class="fb-like" data-width="300px" data-href="https://www.facebook.com/trancefamilyec/"
                         data-colorscheme="dark" data-layout="standard" data-action="like" data-size="small"
                         data-show-faces="true" data-share="true"></div>
                    <!-- Social Buttons -->
                    <div class="har_footer_social" style="margin-top: 20px;">
                        <div data-animation="animation_blocks" data-bottom="@class:noactive"
                             data--100-bottom="@class:active">
                            <a target="_blank" href="https://www.facebook.com/trancefamilyec/"><i
                                    class="ti ti-facebook har_icon_box"></i></a>
                            <a target="_blank" href="https://www.instagram.com/trancefamilyec/"><i
                                    class="ti ti-instagram har_icon_box"></i></a>
                            <a target="_blank" href="https://www.youtube.com/user/TranceFamilyEc"><i
                                    class="ti ti-youtube har_icon_box"></i></a>
                            <a target="_blank" href="https://twitter.com/trancefamilyec"><i
                                    class="ti ti-twitter har_icon_box"></i></a>
                        </div>
                    </div>

                    <p>© 2016 TranceFamilyEc / @TranceFamilyEC</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

</div>

<!-- JQuery -->
<script src="{% static 'Home/js/jquery-1.12.3.min.js' %}"></script>
<!-- Library JS -->
<script src="{% static 'Home/js/jquery.firefly-0.2.min.js' %}"></script>

<script src="{% static 'Home/js/harmony_library.js' %}"></script>
<script src="{% static 'Home/js/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'Home/js/library/jquery.crs.min.js' %}"></script>
<script src="{% static 'Home/js/library/jquery.validate.min.js' %}"></script>

<!-- Theme JS -->
<script src={% static 'Home/js/harmony_script.js' %}></script>
</body>
</html>